/* colors */

$colors: (
  color1: #647b3f,
  color2: #fae02f,
  color-content: #EAFF97,
  color-price: #A63300,
  color-accent: #660033,
  color-footer: #132E00,
  color-light: #FFFBF4,
  color-button: #73716E,
  color-border: #4A4947,
  color-dark: #212120,
);

$color-primary: #647b3f;
$color-logo: #fae02f;
$color-content: #EAFF97;
$color-price: #A63300;
$color-accent: #660033;
$color-footer: #204e00;
$color-light: #FFFBF4;
$color-button: #73716E;
$color-border: #4A4947;
$color-dark: #212120;
$color-nav1: #005555;
$color-nav2: #C7AE04;

/* fonts */
$font-logo: "Barrio Regular", Arial, sans-serif;
$font-nav: "Bebas Regular", Arial, Helvetica, sans-serif;
$font-text: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;







