<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Susy Demo Panda Page</title>
  <link rel="stylesheet" type="text/css" href="#">
</head>
<body>
  <div class="container">
    <header>
      <a class="logo" href="#"><img src="#" alt="logo"></a>
      <h1 class="company-name">Pandas r us Company</h1>
      <nav>
        <ul>
          <li class="nav-item-prim"><a href=#">Nav 1</a></li>
          <li class="nav-item-prim"><a href=#">Nav 2</a></li>
          <li class="nav-item-prim"><a href=#">Nav 3</a></li>
          <li class="nav-item-prim"><a href=#">Nav 4</a></li>
          <li class="nav-item-prim"><a href=#">Nav 5</a></li>
          <li class=nav-item-prim"><a href="#">Nav 6</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="opening-content">
        <h2>opening content heading</h2>
        <p>opening content para</p>
      </div><!-- end opening-content -->
      <div class="about-pandas">
        <div class="in-the-wild">
          <h2>pandas in the wild heading</h2>
          <p>pandas in the wild para</p>
        </div><!-- end in-the-wild -->
        <div class="in-the-zoo">
          <h2>pandas in the zoo heading</h2>
          <p>pandas in the zoo para</p>
        </div><!-- end in-the-zoo -->
        <div class="in-the-media">
          <img src="#" alt="pandas in the media">
          <div class="copy">
            <h2>pandas in the media heading</h2>
            <p>pandas in the media para</p>
          </div><!-- end copy -->
        </div><!-- end in-the-media -->
      </div><!-- end about-pandas -->
    </div> <!-- end hero -->
    <div class="panda gallery">
      <div><img src="#" alt="panda 1"></div>
      <div><img src="#" alt="panda 2"></div>
      <div><img src="#" alt="panda 3"></div>
      <div><img src="#" alt="panda 4"></div>
      <div><img src="#" alt="panda 5"></div>
      <div><img src="#" alt="panda 6"></div>
    </div><!-- end panda gallery -->
    <footer>
      <div class="panda-links">
        <ul>
          <li><a href="#">Panda Link</a></li>
          <li><a href="#">Panda Link</a></li>
          <li><a href="#">Panda Link</a></li>
          <li><a href="#">Panda Link</a></li>
          <li><a href="#">Panda Link</a></li>
        </ul>
      </div><!-- end panda links -->
      <div class="panda-social">
        <a class="social-link" href="#"><img src="#" alt="panda social icon"></a>
        <a class="social-link" href="#"><img src="#" alt="panda social icon"></a>
        <a class="social-link" href="#"><img src="#" alt="panda social icon"></a>
        <a class="social-link" href="#"><img src="#" alt="panda social icon"></a>
        <a class="social-link" href="#"><img src="#" alt="panda social icon"></a>
      </div><!-- end panda-social -->
      <div class="panda-partners">
        <img src="#" alt="partner icon">
        <img src="#" alt="partner icon">
      </div><!-- end panda-partners -->
    </footer>
  </div><!-- end container -->
</body>
</html>